.highlights {
    padding: 60px;
    display: flex;
    img{
        height: 80px;
        width: 80px;
        border: 1px solid rgb(223, 223, 223);
        padding: 3px;
        border-radius: 90%;

    }

    .hightlightItem {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 30px;
    }
}